/GenericsHelloWorld.class
/Box.class
/Shape.class
/HelloWorld.class
/Use.class
/GenericBounds.class
/Feature.class
/GetMessage.class
/MapsApp.class
/LogApp.class
/GenericBoundWithClassAndInterface.class
/BusinessLogic.class
/FirstClass.class
/Generic.class
/SubClass.class
/SubClass2.class
/WildCards.class
/ChatApp.class
/GenericMsg.class
/Hike.class
/WhatsApp.class
/BoundWithSameObject.class
/BoundingClass.class
/GenericBound.class
/GenericMethods.class
/StringVals.class
/GetStringVal.class
/StringMsg.class
